#app {

  .main-container {
    min-height: 100%;
    transition: margin-left .28s;
    margin-left: $sideBarWidth;
    position: relative;
    background-color: #f4f4f4;
  }

  .hideSidebar {
    // .hamburger-container {
    //   width: 60px !important;
    // }

    .main-container {
      margin-left: 60px;
    }

    .submenu-title-noDropdown {
      padding: 0 !important;
      position: relative;

      .el-tooltip {
        padding: 18px 0 !important;
        .svg-icon {
          margin-left: 20px;
        }
        &:hover {
          background-color: $menuActiveText !important;
          color:#fff !important;
        }
      }
    }

    .el-submenu {
      overflow: hidden;

      &>.el-submenu__title {
        padding: 0 !important;

        .iconfont {
          margin-left: 20px;
        }

        .el-submenu__icon-arrow {
          display: none;
        }
      }
    }

    .el-menu--collapse {
      .el-submenu {
        &>.el-submenu__title {
          &>span {
            height: 0;
            width: 0;
            overflow: hidden;
            visibility: hidden;
            display: inline-block;
          }
        }
      }
    }
  }

  .el-menu--collapse .el-menu .el-submenu {
    min-width: $sideBarWidth !important;
  }

  // mobile responsive
  .mobile {
    .main-container {
      margin-left: 0px;
    }
  }
}

// when menu collapsed
.el-menu--vertical {
  &>.el-menu {
    .svg-icon {
      margin-right: 10px;
    }
  }

  .nest-menu .el-submenu>.el-submenu__title,
  .el-menu-item {
    height: 36px;
    line-height: 36px;
    padding-left: 20px;
    &:hover {
      // you can use $subMenuHover
      // color:$menuActiveText !important;
      // background-color: $menuHover !important;
    }
  }

  // the scroll bar appears when the subMenu is too long
  >.el-menu--popup {
    min-width: 160px;
    max-height: 100vh;
    overflow-y: auto;

    &::-webkit-scrollbar-track-piece {
      background: #d3dce6;
    }

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background: #99a9bf;
      border-radius: 20px;
    }
  }
}

// 菜单样式
.el-menu {
  border: none;
  height: 100%;
  width: 100% !important;
  >div >a >.el-menu-item { // 菜单-首页
    height: 36px;
    line-height: 36px;
    margin: 10px 0;
    border-left: 3px solid #fff;
    >span{
      margin-left: 12px;
    }
  }
  >div >a > .is-active { // 菜单-首页选中
    background-color: #E4EDFF !important;
    border-left: 3px solid #0f58ff;
  }
  .el-submenu .el-submenu__title { // 一级菜单样式
    height: 36px;
    line-height: 36px;
    margin: 10px 0;
    >span{
      margin-left: 12px;
    }
  }
  > .el-menu-item { // 未登录一级菜单
    height: 36px;
    line-height: 36px;
    margin: 10px 0;
  }
  >.is-active { // 未登录一级菜单选中
    background-color: #E4EDFF !important;
    border-left: 3px solid #0f58ff;
  }
  .el-submenu .el-menu-item{ // 二级菜单的样式
    font-size: 14px;
    height: 36px;
    line-height: 36px;
    margin: 10px 0;
    padding: 0px 30px !important;
    >span{
      margin-left: 15px;
    }
  }
  .el-submenu .el-menu-item:hover{ // 二级菜单移入的样式
    background-color: #E4EDFF !important; 
    i,span{
      color: $menuActiveText !important;
    }
  }
  .is-opened >.el-submenu__title {
    background-color: #fff !important; // 一级标题背景样式
    >span {
      color: #0f58ff;
    }
    .iconfont{
      color: #0f58ff;
    }
  }
  .is-opened > .el-menu > .nest-menu .el-menu-item {
    border-left: 3px solid #fff;
  }
  .is-opened > .el-menu > .nest-menu .is-active { // 二级菜单选中样式
    background-color: #E4EDFF !important;
    border-left: 3px solid #0f58ff;
  }
  .is-opened > .el-menu > .nest-menu .router-link-active .el-menu-item {
    background-color: #E4EDFF !important;
    border-left: 3px solid #0f58ff;
  }
  .el-submenu > .el-submenu__title:hover{
    background-color: #F1FAFF !important;
  }
  a >.el-menu-item:hover{
    background-color: #F1FAFF !important;
  }
}